In [1]:
import pandas as pd
import json
import requests

In [2]:
def log_url(api_name, url):
    print('requesting %s url\n %s' % (api_name, url))

In [3]:
df = pd.read_csv('hsdb_list.csv',header=None, usecols=[0,1], names=['Name', 'Smiles'])
df.head()

                               Name Smiles
0                       HYOSCYAMINE    NaN
1                     Oxypeucedanin    NaN
2                       RETRONECINE    NaN
3                       HYOSCYAMINE    NaN
4  1,1,1,2,3,3,3-Heptafluoropropane    NaN

In [4]:
print(df.iloc[2])

Name      RETRONECINE
Smiles            NaN
Name: 2, dtype: object

In [5]:
for index, row in df.iterrows():
    row['Name']=row['Name'].rstrip(',')

In [6]:
df.drop_duplicates(subset ="Name", 
                     keep = 'first', inplace = True)

In [430]:
df['Name'].apply(lambda x: x.upper()).head(5)

0                               HYOSCYAMINE
1                             OXYPEUCEDANIN
2                               RETRONECINE
4          1,1,1,2,3,3,3-HEPTAFLUOROPROPANE
5    1,1,1,2-TETRACHLORO-2,2-DIFLUOROETHANE
Name: Name, dtype: object

In [434]:
df.drop_duplicates(subset ="Name", 
                     keep = 'first', inplace = True)

In [435]:
print(len(df))

4601

In [355]:
df.tail()

            Name                                           Smiles
6044       ZIRAM             CN(C)C(=S)[S-].CN(C)C(=S)[S-].[Zn+2]
6045   ZIRCONIUM                                             [Zr]
6055    ZOLPIDEM  CC1=CC=C(C=C1)C2=C(N3C=C(C=CC3=N2)C)CC(=O)N(C)C
6056  ZONISAMIDE                 C1=CC=C2C(=C1)C(=NO2)CS(=O)(=O)N
6057    Zoxamide     CCC(C)(C(=O)CCl)NC(=O)C1=CC(=C(C(=C1)Cl)C)Cl

In [356]:
print(len(df))

4700

In [350]:
print(df.iloc[4670])

Name      WEST
Smiles
Name: 5981, dtype: object

In [21]:
import numpy as np
def is_nan(x):
    return (x is np.nan or x != x)

false

In [193]:

hsdb_name = '1,1,1,2,3,3,3-Heptafluoropropane'

def get_id(hsdb_name):
    url = 'https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/' + hsdb_name +'/cids/TXT'
    #log_url('pubchem', url)
    chemical_response = requests.get(url)
    chemical_response =chemical_response.content
    columns = chemical_response.decode("utf-8").split()
    #ids =[print(i,) for i in columns]
    #ids
    #str1 = ','.join(str(e) for e in columns)
    str1 = columns[0]
    try:
       num1 = int(str1)
    except ValueError:
       num1 = 'error'
    if(isinstance(num1, int)): 
        url_json = 'https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/cid/' + str1 +'/record/JSON'
        chemical_json_response = requests.get(url_json)
        chemical_json = chemical_json_response.json()
        smiles = chemical_json['PC_Compounds'][0]['props'][18]['value']
    else: 
        smiles={'sval':''}
    #print(smiles.get('sval'))
    return smiles.get('sval')

smile = get_id(hsdb_name)
print(smile)

C(C(F)(F)F)(C(F)(F)F)F

In [354]:
for index, row in df.iterrows():
    if(index in range (6059,6060)):
        row['Smiles'] = get_id(row['Name'])
        if index%10==0:
            print('Treating the {}th index'.format(index))

In [220]:
url = 'https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/' + 'Deutetrabenazine' +'/cids/TXT'

chemical_response = requests.get(url)
chemical_response =chemical_response.content
print(chemical_response)
columns = chemical_response.decode("utf-8").split()
print(columns)
str1 = ','.join(str(e) for e in columns)
print(columns[0])
str1=columns[0]
print(type(str1))
num1 = int(str1)
if(isinstance(num1, int)):
        url_json = 'https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/cid/' + str1 +'/record/JSON'
        chemical_json_response = requests.get(url_json)
  
        chemical_json = chemical_json_response.json()

        smiles = chemical_json['PC_Compounds'][0]['props'][18]['value']
        print(smiles)

b'73437646\n73442840\n45255840\n'
['73437646', '73442840', '45255840']
73437646
<class 'str'>
{'sval': 'CC(C)CC1CN2CCC3=CC(=C(C=C3C2CC1=O)OC)OC'}

In [12]:
for index, row in df.iterrows():
    row['Smiles'] = get_id(row['Name'])
    if index%10==0:
        print('Treating the {}th index'.format(index))

Treating the 0th index
Treating the 10th index
Treating the 20th index
Treating the 30th index
Treating the 40th index
Treating the 50th index
Treating the 60th index
Treating the 70th index
Treating the 80th index
Treating the 90th index
Treating the 100th index
Treating the 110th index
Treating the 120th index
Treating the 130th index
Treating the 140th index
Treating the 150th index
Treating the 160th index
Treating the 170th index
Treating the 180th index
Treating the 190th index
Treating the 200th index
Treating the 210th index
Treating the 220th index
Treating the 230th index
Treating the 240th index
Treating the 250th index
Treating the 260th index

KeyError: 'PC_Compounds'

In [ ]:
#for testing
#https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Deutetrabenazine/cids/TXT
#https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/cid/73437646/record/JSON
#Deutetrabenazine
#CHLORAMINE, 
#DEUTERIUM bad record, no 18 element
#Disodium
#Disulfur
#Iodobromine
#Maitotoxin
#Tritium

In [365]:
print(ord('['))

91

In [395]:
df_smiles = df
df_filter_empty_smiles = df['Smiles'] != ''
df_no_empty_smiles = df[df_filter_empty_smiles]
#df_filter_no_smiles = filter(lambda x: x.startswith('['), df['Smiles'])
#df_no_smiles_values = df_no_empty_smiles[df_filter_empty_smiles]

df_no_empty_smiles['Name'].apply(lambda x: x.upper()).head(5)
df_no_invalid_smiles = df_no_empty_smiles[df_no_empty_smiles['Smiles'].values.astype('<U1') != '[']

In [396]:
df_no_invalid_smiles.drop_duplicates(subset ="Name", 
                     keep = 'first', inplace = True)

/Users/jelena/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [397]:
df_smiles.to_csv('hsbd-smiles1.csv',index=False)
df_no_empty_smiles.to_csv('hsbd-smiles2.csv',index=False)
df_no_invalid_smiles.to_csv('hsbd-smiles3.csv',index=False)

In [393]:
#df_no_empty_smiles['Smiles'].apply(lambda x: x.startswith('C')).head(10) 
df_no_invalid_smiles = df_no_empty_smiles[df_no_empty_smiles['Smiles'].values.astype('<U1') != '[']

In [394]:
df_no_invalid_smiles.to_csv('hsbd-smiles3.csv',index=False)

In [423]:
df_hsbd = pd.read_csv('hsbd-smiles.csv',header=None, usecols=[1,2], names=['Name', 'Smiles'])
df_hsbd.head()

,Name,Smiles
0,HYOSCYAMINE,CN1C2CCC1CC(C2)OC(=O)C(CO)C3=CC=CC=C3
1,OXYPEUCEDANIN,CC1(C(O1)COC2=C3C=CC(=O)OC3=CC4=C2C=CO4)C
2,RETRONECINE,C1CN2CC=C(C2C1O)CO
3,"1,1,1,2,3,3,3-HEPTAFLUOROPROPANE",C(C(F)(F)F)(C(F)(F)F)F
4,"1,1,1,2-TETRACHLORO-2,2-DIFLUOROETHANE",C(C(Cl)(Cl)Cl)(F)(F)Cl

In [424]:
df_chembl_approved = pd.read_csv('Chembl-approved-smiles.csv',header=None, usecols=[1,2], names=['Name', 'Smiles'])
df_chembl_approved.head()

             Name                                            Smiles
0        PRAZOSIN     COc1cc2nc(N3CCN(C(=O)c4ccco4)CC3)nc(N)c2cc1OC
1        NICOTINE                              CN1CCC[C@H]1c1cccnc1
2       OFLOXACIN  CC1COc2c(N3CCN(C)CC3)c(F)cc3c(=O)c(C(=O)O)cn1c23
3  NALIDIXIC ACID                   CCn1cc(C(=O)O)c(=O)c2ccc(C)nc21
4    INDOMETHACIN    COc1ccc2c(c1)c(CC(=O)O)c(C)n2C(=O)c1ccc(Cl)cc1

In [425]:
def dataframe_difference(df1, df2, which=None):
    """Find rows which are different between two DataFrames."""
    comparison_df = df1.merge(df2,
                              indicator=True,
                              how='outer')
    if which is None:
        diff_df = comparison_df[comparison_df['Smiles'] != 'both']
    else:
        diff_df = comparison_df[comparison_df['Smiles'] == which]
    diff_df.to_csv('diff.csv')
    return diff_df

In [426]:
df_merged = dataframe_difference(df_hsbd, df_chembl_approved)

In [429]:
df_filter_both_merged = df_merged['_merge'] == 'both'

df_both_merged = df_merged[df_filter_both_merged]
len(df_both_merged)

11

In [436]:
df_both_merged.head(11)

                 Name                            Smiles _merge
763       ACAMPROSATE              CC(=O)NCCCS(=O)(=O)O   both
1426    DECAMETHONIUM  C[N+](C)(C)CCCCCCCCCC[N+](C)(C)C   both
1651       DISULFIRAM        CCN(CC)C(=S)SSC(=S)N(CC)CC   both
1910     FORMALDEHYDE                               C=O   both
2105           IODINE                                II   both
2303  MECHLORETHAMINE                      CN(CCCl)CCCl   both
2355      METHENAMINE                C1N2CN3CN1CN(C2)C3   both
2597         NITROGEN                               N#N   both
2721           OXYGEN                               O=O   both
2888       PIPERAZINE                          C1CNCCN1   both
3530            WATER                                 O   both